.container {
  display: block;
  max-width: 700px;
  background-image: linear-gradient(190deg, #0481b3 0%, #036aaf 100%);
  padding: 20px 25px;
  margin: 20px auto;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
input {
  border: none;
  border-radius: 6px;
  font-family: monospace;
  background: white;
  color: #707070;
}
#location-button {
  display: inline;
  border: none;
  border-radius: 6px;
  font-family: monospace;
  background: white;
  color: #707070;
}
#celsius-link,
#fahrenheit-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
#current-temperature {
  font-size: 60px;
  text-align: center;
}
.units {
  font-size: 25px;
  text-align: center;
  position: relative;
  top: -24px;
}
#current-icon {
  height: 64px;
}
h3 {
  font-size: 26px;
}
h6 {
  font-size: 16px;
}
.next-day {
  margin-top: 30px;
  font-size: 22px;
  text-transform: uppercase;
}
.github-link {
  color: #707070;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
}
